# Path to your oh-my-zsh installation.
export ZSH={{ ansible_env.HOME }}/.oh-my-zsh

# Set name of the theme to load.
# Look in ~/.oh-my-zsh/themes/
# Optionally, if you set this to "random", it'll load a random theme each
# time that oh-my-zsh is loaded.
ZSH_THEME="agnoster"

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(git sudo z)

# User configuration
export PATH="$PATH:/usr/local/bin:/usr/local/sbin:{{ ansible_env.HOME }}/bin:/usr/bin:/bin:/usr/sbin:/sbin"
export PATH="$(ruby -rubygems -e 'puts Gem.user_dir')/bin:$PATH"

source $ZSH/oh-my-zsh.sh

# Powerline-shell
function powerline_precmd() {
    PS1="$(~/.powerline-shell.py $? --shell zsh 2> /dev/null)"
}

function install_powerline_precmd() {
  for s in "${precmd_functions[@]}"; do
    if [ "$s" = "powerline_precmd" ]; then
      return
    fi
  done
  precmd_functions+=(powerline_precmd)
}

if [ "$TERM" != "linux" ]; then
    install_powerline_precmd
fi
